<!doctype html>
<html>
<head>
  <link rel='stylesheet' href='src/md.css' />
  <style>
  #container {
    width: 800px;
    margin: 0 auto;
  }
  </style>
</head>
<body>
  <div id='container'>
  <%- text %>
  </div>
</body>
</html>
